# Python
__pycache__
*.pyc
*.egg-info
dist

# Virtual Environments
venv/
cad_iou_env/
cad_coder_env/
env/
.venv/
.env/

# Large files
*.pyd
*.dll
*.so
*.dylib

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/
